 
main{
    position: absolute;
    z-index: 7;
    margin-top: 80px;
    width: 100%;
    display: flex;
    gap: 0px 10px;
    display: none;
}

.sidebar{
    width: 1000%;
    max-width:350px;
    transition: 0.5s;
}
 
.list{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px 10px;
    padding: 0px 10px;
}
.list-item{
    display: flex;
    align-items: center;
    gap: 0px 10px;
    font-size: 18px;
    color: #ffffffc8;
    overflow: hidden;
    border-left: 3px solid  transparent;
    cursor: pointer;
}
 
 
 
